<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Catalog</title>
    <link rel="stylesheet" href="/home_style.css">
    <link rel="stylesheet" href="/home_animation.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <script src="/home_app.js"></script>
</head>
<body>
    
        <h1>Mackenzie's University Catalog</h1>
       
    <div class="menu_opener">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="off-screen-menu">
        <ul>
            <li>
                <form action="/admin/login" method="POST">
                    <button class="adminButton">Admin Panel</button>
                </form>
            </li>
            <li>
                <form action="/logout" method="POST">
                    <button class="logoutButton">log out</button>
                </form>
            </li>
            
        </ul>
        
        <ul >
            <li ><a class="hamList" href="#reach">Reach</a></li>
            <li ><a class="hamList" href="#target">Target</a></li>
            <li ><a class="hamList" href="#safety">Safety</a></li>
            <li ><a class="hamList" href="#more_info">More info</a></li>
        </ul>
    </div>
    
<script>
    document.addEventListener("DOMContentLoaded", () => {
    const menuOpener = document.querySelector(".menu_opener");
    const offScreenMenu = document.querySelector(".off-screen-menu");

    if (menuOpener && offScreenMenu) {
        // Toggle menu when clicking the opener
        menuOpener.addEventListener("click", () => {
            console.log("Menu toggled");
            offScreenMenu.classList.toggle("active");
        });
    } else {
        console.error("Menu opener or off-screen menu not found!");
    }
});


</script>


    

<section class="intro-section">
    
        <div class="card">
    
            <h2>Welcome to My University Catalog 🎓</h2>
        <p>
            Transferring to a university is a huge decision, and I wanted to make the process more engaging and informative.
            This website serves two purposes:
        </p>
    
        <ul>
            <li>🔹 <strong>A Personal Project for Growth</strong> – As I develop my web development skills, this site allows me to experiment with design, animations, and functionality while building something meaningful.</li>
            <li>🔹 <strong>A Visual Guide for My University Choices</strong> – Instead of explaining my transfer plans in words, this catalog provides an interactive way to showcase the schools I’m considering.</li>
        </ul>
    
        <p>
            Here, you’ll find information about each university, categorized by reach, target, and safety schools. 
            Click on a school to learn more and see why each one is on my list. 
        </p>
    
       <a class="feedback" href="https://docs.google.com/document/d/1_zHLMcUH3sWAW2B4nAI0vPJ-5McOW9VlTOmcnPpK_8g/edit?usp=sharing" target="_blank">Leave Your Feedback Here</a>
        
    </div>
    
    <a target="_blank" class="location" href="https://blog.batchgeo.com/map-of-top-colleges-in-the-us/">Click to Search Universities Location</a>
    
    
    


</section>

<section class="reach-section" id="reach">
        <h2>🔥 Reach Schools</h2>
        <div class="category-container">
            <% reachSchools.forEach(item => { %>
            <div class="item" onclick="openModal(
                '<%= item.name %>',
                '<%= item.status %>', 
                '<%= item.category %>', 
                '<%= item.ranking %>', 
                '<%= JSON.stringify(item.whyThisUniversity || []) %>', 
                '<%= item.programOfInterest %>', 
                '<%= item.financialEstimate.tuition %>', 
                '<%= item.financialEstimate.estimatedTotalCost %>', 
                '<%= item.financialEstimate.scholarships %>', 
                '<%= item.campusEnvironment %>', 
                '<%= item.careerImpact %>', 
                '<%= JSON.stringify(item.pros || []) %>', 
                '<%= JSON.stringify(item.cons || []) %>', 
                '<%= item.image %>', '<%= item.cImage %>', 
                '<%= JSON.stringify(item.sources || []) %>'
                )">
            <img src="<%= item.image %>" alt="<%= item.name %>">
            <h3><%= item.name %></h3>
            </div>
        <% }) %>
    </div>
    <div class="fire">
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>
        <div class="fire-item"></div>

    </div>
    
</section>
   


<section role="region" class="target-section" aria-labelledby="target" id="target">  
        <h2>🎯 Target Schools</h2>
        <div class="category-container">
            <% targetSchools.forEach(item => { %>
                <div class="item" onclick="openModal(
                    '<%= item.name %>', 
                    '<%= item.status %>', 
                    '<%= item.category %>', 
                    '<%= item.ranking %>', 
                    '<%= JSON.stringify(item.whyThisUniversity || []) %>', 
                    '<%= item.programOfInterest %>', 
                    '<%= item.financialEstimate.tuition %>', 
                    '<%= item.financialEstimate.estimatedTotalCost %>', 
                    '<%= item.financialEstimate.scholarships %>', 
                    '<%= item.campusEnvironment %>', 
                    '<%= item.careerImpact %>', 
                    '<%= JSON.stringify(item.pros || []) %>', 
                    '<%= JSON.stringify(item.cons || []) %>', 
                    '<%= item.image %>', 
                    '<%= item.cImage %>', 
                    '<%= JSON.stringify(item.sources || []) %>'
                    )">

                    <img src="<%= item.image %>" alt="<%= item.name %>">
                    <h3><%= item.name %></h3>
                    </div>
        <% }) %>
     </div>
    </section>      



    <section class="safety-section" aria-labelledby="safety" id="safety">
        <h2>🛡️ Safety Schools</h2>
        <div class="category-container">
            <% safetySchools.forEach(item => { %>
                <div class="item" onclick="openModal(
                    '<%= item.name %>', 
                    '<%= item.status %>',
                    '<%= item.category %>', 
                    '<%= item.ranking %>', 
                    '<%= JSON.stringify(item.whyThisUniversity || []) %>',
                    '<%= item.programOfInterest %>', 
                    '<%= item.financialEstimate.tuition %>', 
                    '<%= item.financialEstimate.estimatedTotalCost %>', 
                    '<%= item.financialEstimate.scholarships %>', 
                    '<%= item.campusEnvironment %>', 
                    '<%= item.careerImpact %>', 
                    '<%= JSON.stringify(item.pros || []) %>', 
                    '<%= JSON.stringify(item.cons || []) %>', 
                    '<%= item.image %>', 
                    '<%= item.cImage %>', 
                    '<%= JSON.stringify(item.sources || []) %>'
                    )">
                    <img src="<%= item.image %>" alt="<%= item.name %>">
                    <h3><%= item.name %></h3>
                    </div>
        <% }) %>
    </div>
    </section>

    
      


    

    <!-- Modal for item details -->
    <div id="itemModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">X</span>


            <!-- University Header -->
            
                <img id="modalImage" src="" alt="University Logo">
                <h2 id="modalTitle"></h2>
                
     
            
             <img id="campusImage" src="" alt="Campus Image"> 


             <!-- First Row: Left & Right Blocks -->

             <div class="modal-flex">

                <div class="modal-box">
                <p><strong>Category:</strong> <span id="modalCategory"></span></p>
                <p><strong>Ranking:</strong> <span id="modalRanking"></span></p>
             </div>

             <div class="modal-box">
                <p><strong>Status:</strong> <span id="modalStatus"></span></p>
                <p><strong>Programs of Interest:</strong> <span id="modalPrograms"></span></p>
             </div>

            </div>
            
            
            <!-- Full-Width Block for "Why This University?" -->
            <div class="modal-full">
                <p><strong>Why This University?</strong> </p>
                <p id="modalWhy"></p>
            </div>
            
            <!-- Second Row: Financial Details, Campus, Career -->
             <div class="modal-flex">

                <div class="modal-box">
                    <p><strong>💰 Financial Estimate:</strong></p>
                    <ul>
                        <li>Tuition: <span id="modalTuition"></span></li>
                        <li>Total Cost: <span id="modalTotalCost"></span></li>
                        <li>Scholarships: <span id="modalScholarships"></span></li>
                    </ul>
                </div>


                <div class="modal-box">
                    <p><strong>Campus Environment:</strong></p>
                    <p id="modalCampus"></p>
                </div>

                <div class="modal-box">
                    <p><strong>Career/Alumni Impact:</strong></p>
                    <p id="modalCareer"></p>

                </div>
             </div>
            

               <!-- Pros & Cons Block -->
        <div class="modal-flex">
            <div class="modal-box">
                <p><strong>✅ Pros:</strong></p>
                <ul id="modalPros"></ul>
            </div>
            <div class="modal-box">
                <p><strong>❌ Cons:</strong></p>
                <ul id="modalCons"></ul>
            </div>
        </div>
            
          
           <!-- Sources Block -->
        <div class="modal-full">
            <p><strong>🔗 Sources:</strong></p>
            <ul id="modalSources"></ul>
        </div>
    </div>
</div>







  
<section class="moreInfo" id="more_info" aria-labelledby="more_info">
    
    <div class="card">
        
            <h2>Mackenzie's Priority</h2>
        <ol>
            <li>🔹 <strong>University of Washington - CS</strong></li>
            <li>🔹 <strong> Georgia Tech </strong></li>
            <li>🔹 <strong> University of Washington - ECE </strong></li>
            <li>🔹 <strong>UI Urbana-Champaign</strong></li>
            <li>🔹 <strong>Purdue University</strong></li>
            <li>🔹 <strong>Cornell University</strong></li>
            <li>🔹 <strong>University of Chicago</strong></li>
            <li>🔹 <strong>Rice University</strong></li>
            <li>🔹 <strong>Stanford University</strong></li>
            <li>🔹 <strong>University of Pennsylvania</strong></li>
        </ol>
    </div>
    </section>


<footer>
    <address>
 
      Seattle,<br />
      Washington,<br />
      USA
    </address>
  </footer>
</body>
</html>
